:root {
  --mainBlue: #2da2bf;
  --lightBlue: #9fd7e5;
  --mainWhite: #f3f3f3;
  --mainDark: #232428;
  --mainGray: rgba(13, 241, 230, 0.5);
  --mainRed: #da1f28;
  --mainYellow: #ffa400;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark);
}

.text-title {
  font-family: "Roboto", sans-serif, italic;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}
