:root {
  --mainBlue: #2a7072;
  --lightBlue: #a5e2f5;
  --mainWhite: #f4f4f4;
  --mainDark: #232428;
  --mainGray: rgba(13, 241, 230, 0.5);
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark);
}

.text-title {
  font-family: "Roboto", sans-serif, italic;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}
